@model HelpDesk.Web.Models.Pagina

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Salvar", "Test"))
{
    <table>

        @for (int i = 0; i < 10; i++)
            
        { 
            <tr>
                <td><input type="text" id="nome" name="ClientesD.@(i.ToString()).Cliente.Nome" /></td>
                <td><input type="text" id="endereco" name="ClientesD.@(i.ToString()).Cliente.Endereco" /></td>
                <td>
                    <input type="submit" value="Salvar" />
                </td>
            </tr>
        
        
        
        }

         @for (int i = 0; i < 10; i++)
            
        { 
            <tr>
                <td><input type="text" id="nome" name="Clientes.Cliente.Nome" /></td>
                <td><input type="text" id="endereco" name="Clientes.Cliente.Endereco" /></td>
                <td>
                    <input type="submit" value="Salvar" />
                </td>
            </tr>
        }
    </table>
}



@using (Html.BeginForm("Salvar", "Test"))
{
    <fieldset>
        <legend>Clientes</legend>

        <label for="nome">Nome</label>

        <input type="text" id="nome" name="Cliente.Nome" />

        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" name="Cliente.Endereco" />

        <input type="submit" value="Salvar" />

    </fieldset>
}


