@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Chamados em Atraso</h3>
    </div>
    "Content"
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Chamados em Aberto</h3>
    </div>
    "Content"
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Chamados Resolvidos</h3>
    </div>
    "Content"
</div>
