@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-4">
    <h2>Hierarquia de Chamados</h2>
    <p>Troca de chamados entre toda rede hospitalar por unidade e por centro de custo</p>
    <p><a class="btn btn-default" href="#">Veja mais &raquo;</a></p>
</div>
<div class="col-lg-4">
    <h2>Gestão de Ativos</h2>
    <p>Controle os princípios, políticas, métricas dos seus ativos. Gerencia índices de performance(KPI) e retorno de investimento (ROI)</p>
    <p><a class="btn btn-default" href="#">Veja mais &raquo;</a></p>
</div>
<div class="col-lg-4">
    <h2>DashBoard Iterativo</h2>
    <p>Gráfico de performance de atendimento, Poupança de ativos, acúmulo de trabalho por níveis de suporte</p>
    <p><a class="btn btn-default" href="#">Veja mais &raquo;</a></p>
</div>
